@{
    ViewData["Title"] = "Home Page";
}

@model Dish
<style>


</style>

<div class="container">

<h1>Add a Dish</h1>


    <form asp-action="submitdish" asp-controller="Home" method="post" class="form-group">

        <label asp-for="DishName"></label>
        <input class="form-control" asp-for="DishName">
        <span class="text-danger" asp-validation-for="DishName"></span></br>

        <label asp-for="Calories"></label>
        <input class="form-control" asp-for="Calories">
        <span class="text-danger" asp-validation-for="Calories"></span></br>

        <label for>Select Chef:</label>
        <select class="form-control" name="ChefID">
          @foreach (Chef c in @ViewBag.allchefs)
          {
            <option value=@c.ChefID>@c.FirstName @c.LastName</option>
          }
        </select>

        <label asp-for="Tastiness"></label>
        <select class="form-control" asp-for="Tastiness">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span class="text-danger" asp-validation-for="Tastiness"></span></br>

        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
        <span class="text-danger" asp-validation-for="Description"></span></br>
        

        <input value="Add Dish" class="btn btn-primary" type="submit">    
    </form>
</div>