@{
    ViewData["Title"] = "Home Page";
}

@model Chef
<h1>Add a Chef</h1>


    <form asp-action="submitchef" asp-controller="Home" method="post" class="form-group">

        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName">
        <span class="text-danger" asp-validation-for="FirstName"></span></br>

        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName">
        <span class="text-danger" asp-validation-for="LastName"></span></br>
        
        <label asp-for="Birthday"></label>
        <input class="form-control" asp-for="Birthday">
        <span class="text-danger" asp-validation-for="Birthday"></span></br>

        <input value="Add Chef" class="btn btn-primary" type="submit">    
    </form>